div(class="header-main bg-white py-3 shadow-sm")
  div(class="container d-flex align-items-center justify-content-between")
    a.logo(href="/")
      span.bookstore-logo
        | book
        span.bold store
        | .com

    form(action="/search" method="GET" class="flex-grow-1 mx-4")
      .input-group.w-75.mx-auto
        input(type="text" class="form-control" name="keyword" placeholder="Tìm kiếm sản phẩm...")
        .input-group-append
          button(class="btn btn-dark" type="submit") Tìm kiếm

    div(class="right-section d-flex align-items-center")
      div(class="hotline mr-4 text-end")
        i(class="bi bi-telephone-outbound me-1")
        span(class="d-block small text-muted") Tư vấn bán hàng
        strong 028.73008182
      a(class="btn btn-outline-success rounded-circle" href="/cart")
        i(class="bi bi-cart3") 

        if(miniCart)  
          if(miniCart.totalQuantityBook > 0)
            span #{miniCart.totalQuantityBook}
          else  
            span 0