include ../mixins/sub-menu.pug

div(class="sidebar card border-0")
  div(class="card-header bg-light fw-bold") Danh mục
  - const path = "/collections"
  ul
    +sub-menu(layoutBookCategory, path)
    li
      a(href=`/blogs`) Bài viết