
mixin sidebarDetail()
  // KHỐI PHẢI
  .col-lg-3
    .vb-side
      .vb-side__head Chỉ có ở BookStore
      ul.vb-side__list
        li
          i.bi.bi-shield-check
          .txt
            div Sản phẩm 100% chính hãng hàng
        li
          i.bi.bi-headset
          .txt
            div Tư vấn mua sách trong giờ hành chính
        li
          i.bi.bi-truck
          .txt
            div Miễn phí vận chuyển cho Đơn hàng từ 250.000đ
        li
          i.bi.bi-telephone
          .txt
            div Hotline: 1900 6401
