extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  div(class="container py-5")
    div(class="row justify-content-center")
      div(class="col-md-6 col-lg-5")
        div(class="card shadow-sm")
          div(class="card-body")
            h2(class="text-center mb-3") Nhập mã OTP xác thực

            form(action="/user/password/otp" method="POST")
              // Email
              div(class="mb-3")
                label(class="form-label" for="email") Email
                input(class="form-control" type="email" name="email" id="email" placeholder="Nhập email" value=email required readonly)
              div(class="mb-3")
                label(class="form-label" for="otp") Mã OTP
                input(class="form-control" type="text" name="otp" id="otp" placeholder="Nhập mã OTP" required)

              // Nút đăng ký
              button(class="btn btn-primary w-100" type="submit") Xác nhận
