extends ../../layouts/default.pug
include ../../mixins/formatDateTime.pug

block main
  .container.my-5
    h2.text-uppercase.fw-bold BÀI VIẾT

    .row.g-4
      each blog in blogs
        .col-md-4.mt-4
          .card.h-100.shadow-sm.border-0
            img.card-img-top(src=blog.thumbnail, alt=blog.title, style="height:200px; object-fit:cover;")
            .card-body
              .d-flex.justify-content-between.text-muted.small.mb-2
                +formatDateTime(blog.createdBy.createdAt)
              h5.card-title.fw-semibold.text-truncate(style="max-width:100%")= blog.title
              a(href=`/blogs/${blog.slug}`, class="read-more text-decoration-none fw-semibold") 
                | Xem thêm 
                i(class="bi bi-chevron-right ms-1")
