header(class="main-header")
  // Bên trái
  h5(class="mb-0 font-weight-bold") Bắp Perfume Authentic

  // Bên phải
  div(class="header-right d-flex align-items-center")
    // Icon thông báo
    a(href="#" class="notification mr-3")
      i(class="bi bi-bell-fill text-danger")

    // Xin chào
    span(class="mr-2") Xin chào, Administrator

    // Avatar
    div(class="user-avatar")
      span A
